<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img routerLink="/home" src="../../assets/LOGO.jpg" alt="logo" class="logo_img">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" (click)="openMenu()">
          <fa-icon [icon]="faWindowClose" size="2x" class = "closeIcon" [ngClass]="{'hideIconClass' : closeIcon}"></fa-icon>
          <fa-icon [icon]="faBars" size="2x" class = "barIcon" [ngClass]="{'hideIconClass' : !closeIcon}"></fa-icon>
        </div>
        <div class="menu" [ngClass]="{'menuClass' : menuRight}">
          <ul>
            <li routerLink="/home" (click)="resetMenu()">Home</li>
            <li routerLink="/products" (click)="resetMenu()">Products</li>
            <li routerLink="/msds" (click)="resetMenu()">MSDS</li>
            <li routerLink="/export" (click)="resetMenu()">Export</li>
            <li routerLink="/careers" (click)="resetMenu()">Careers</li>
            <li routerLink="/csr" (click)="resetMenu()">CSR</li>
            <li routerLink="/mediacorner" (click)="resetMenu()">Media Corner</li>
            <li routerLink="/contactus" (click)="resetMenu()">Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
