header{
  padding: 12px 0;
  background: #32a852;
}
.logo_img {
  width: 50px;
  height: 50px;
}
.menu {
  margin-top: 10px;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
}
.menu ul li:hover {
  color: #222;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
@media only screen and (max-width: 999px) {
  .menu {
    position: fixed;
    right: 30px;
    top: 60px;
    background: #32a852;
  }
}
