header{
  padding: 12px 0;
  background: #32a852;
}
.logo_img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu {
  margin-top: 10px;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  color: #fff;
  display: inline-block;
  margin-left: 20px;
}
.menu ul li:hover {
  color: #222;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background: #b3ee95;
  outline: 6px solid #b3ee95;
}
.menu_icon {
  display: none;
}
@media only screen and (max-width: 999px) {
  .menu {
    position: fixed;
    right: -280px;
    width: 280px;
    height: 100%;
    top: 60px;
    background: #32a852;
    transition: 0.4s ease-in-out;
  }
  .menuClass {
    right: 0;
    transition: 0.4s ease-in-out;
  }
  .menu ul li {
    display: block;
    text-align: left;
    padding: 10px 0 10px 25px;
    margin: 0;
    border-bottom: 1px solid #979b95;
  }
  .menu ul li:hover {
    background: #b3ee95;
    color: #222;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    outline: 0px solid #b3ee95;
  }
  .menu_icon {
    display: inline-block;
    position: fixed;
    right: 25px;
    top: 20px;
  }
  .menu_icon span {
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }
  .menu_icon span:nth-child(3) {
      margin: 4px 0;
  }
  .hideIconClass {
    display: none !important;
  }
  .closeIcon {
    color: #fff;
  }
  .barIcon {
   color: #fff;
  }
}
